@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 30px auto;
  padding: 30px;
  border: 1px solid steelblue;
  border-radius: 5px;
  width: 500px;
  min-height: 300px;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: inline-block;
  background: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 15px;
}

.btn-form {
  display: block;
  width: 100%;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 5px 40px 5px;
  cursor: pointer;
  font-size: 15px;
}

.task {
  margin: 5px;
  padding: 10px 20px;
  background: #edeef7;
  cursor: pointer;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task.reminder {
  border-left: 5px solid green;
}

.h2 {
  text-align: center;
  color: steelblue;
  margin-top: 50px;
}

.form-label {
  font-size: 20px;
}

.form-input {
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-label-check {
  font-size: 20px;
  flex: 1;
}

.form-input-check {
  height: 40px;
  width: 50px;
  flex: 2;
}

footer {
}
